<!doctype html>
<html lang="en">
<head>
	{#- Meta tags -#}
	{% block meta -%}
	{#- Required meta tags -#}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	{%- endblock %}
  <!-- Page title -->
  <title>{%- block title -%}{%- endblock -%}</title>
  <!-- Favicon -->
  <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico') }}">
  {#- Framework Required CSS Library -#}
  {% block css_framework %}{% endblock %}
	{#- Optional CSS Library -#}
  {% block css_optional %}{% endblock %}
	{#- Custom CSS -#}
  {% block css_custom %}{% endblock %}
	{#- Embedded CSS -#}
  {% block css_embedded %}{% endblock %}
	{% block js_embedded_header %}{% endblock %}
</head>
<body>
	{% block main %}
		{#- NavBar -#}
		{% block navbar %}{%- endblock %}
		{#- Content -#}
		{% block content %}{% endblock %}
	 	{#- Footer -#}
		{% block footer %}{% endblock %}
	{% endblock %}

	{#- Framework Required JavaScript Library -#}
  {% block js_framework %}{% endblock %}
  {#- Optional JavaScript Library -#}
	{% block js_optional %}{% endblock %}
	{#- Embedded JavaScript -#}
  {% block js_embedded_before %}{% endblock %}
  {#- Custom JavaScript -#}
	{% block js_custom %}{% endblock %}
	{#- Embedded JavaScript -#}
  {% block js_embedded_after %}{% endblock %}
  </body>
</html>