{% extends '_skeleton.html' %}

{% block favicon %}
<link rel="shortcut icon" href="{{ url_for('default.favicon_handler') }}">
{% endblock %}

{% block css_framework %}
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
{% endblock %}

{% block js_framework %}
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block navbar %}
<h1 class="text-primary">Plotly-Dash Demonstration</h1>
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="{{ url_for('plotly_basics.index') }}">Plotly Basic Plots</a></li>
		<li class="breadcrumb-item"><a href="#">Dash</a></li>
	</ol>
</nav>
{% endblock %}


{% block footer %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb ">
		<li class="breadcrumb-item text-info">{{ request.endpoint }}</li>
	</ol>
</nav>
{% endblock %}